server:
  port: 8082
spring:
  cloud:
    nacos:
      discovery:
        server-addr: 192.168.101.100:8848
        username: nacos
        password: nacos
        group: DEFAULT_GROUP
logging:
  level:
    com.yang.gulimall: debug